.about {
  &__inner {
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 100%;
    grid-column: 3 / 8 span;
    // background-color: var(--light-color);
    // padding: 40px 40px 30px;
    border-radius: 30px;
  }
  &__description {
    grid-column: 2 / 10 span;
    height: min-content;
    text-align: justify;
  }
}
