section.gallery
  .gallery__inner.grid
    .gallery__full
    .gallery__pattern.gallery__pattern-one
      img.gallery__pattern-image(src="img/svg/pattern1.svg", alt="Паттерн")
    .gallery__pattern.gallery__pattern-two
      img.gallery__pattern-image(src="img/svg/pattern2.svg", alt="Паттерн")
    .gallery__pattern.gallery__pattern-three
      img.gallery__pattern-image(src="img/svg/pattern3.svg", alt="Паттерн")
    .gallery__pattern.gallery__pattern-four
      img.gallery__pattern-image(src="img/svg/pattern4.svg", alt="Паттерн")
    .gallery__pattern.gallery__pattern-five
      img.gallery__pattern-image(src="img/svg/pattern5.svg", alt="Паттерн")
    .gallery__pattern.gallery__pattern-six
      img.gallery__pattern-image(src="img/svg/pattern6.svg", alt="Паттерн")
