section.hero
  .hero__inner
    .swiper__container.swiper__container-bg
      .swiper-wrapper.hero__swiper.hero__swiper-bg
        .swiper-slide.hero__slide-one
        .swiper-slide.hero__slide-two
        .swiper-slide.hero__slide-three
    .hero__container.container
        img.hero__human(src="img/hero1.png", alt="Человек", width='1000px')
    .swiper__container.swiper__container-title
      .swiper-wrapper.hero__swiper.hero__swiper-title
        .swiper-slide
          h1.swiper__title Таганай
        .swiper-slide
          h1.swiper__title Зюраткуль
        .swiper-slide
          h1.swiper__title Тургояк
      .swiper-pagination


