section.video
  .container
    .video__inner
      img.video__tablet(src="img/tablet.png", alt="")
      video.video__content(controls, , width='1170px')
        source(src="video.mp4", type="video/mp4")
